* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: blanchedalmond;
}

div .navbar-brand {
  color: bisque;
  font-size: 30px;
}
h1 {
  text-align: center;
  color: darkgray;
}
h2 {
  text-align: center;
  font-style: oblique;
}
#myform {
  border: 1px solid;
  height: 550px;
  width: 500px;
  display: block;
  background-color: lightgrey;
  margin: 0px auto;
  padding: 50px;
  border-radius: 5px;
}
