* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: blanchedalmond;
}

div .navbar-brand {
  color: bisque;
  font-size: 30px;
}
marquee {
  color: green;
  font-size: 40px;
}
.heading p {
  align-items: baseline;
  background-color: green;
  color: white;
}
.heading h2 {
  text-align: center;
  font-style: oblique;
  text-transform: uppercase;
}
#myform {
  border: 1px solid;
  height: 550px;
  width: 500px;
  display: block;
  background-color: lightgrey;
  margin: 0px auto;
  padding: 50px;
  border-radius: 5px;
}
.input1 input {
  height: 35px;
  width: 400px;
}

#myform h2 {
  color: green;
  font-size: 20px;
}

.btn {
  background-color: green;
  border-radius: 10px;
  height: 35px;
  margin-top: 5%;
  margin-left: 40%;
  width: 300px;
  opacity: 0.7;
  margin: 30px 20px 30px;
}
.btn:hover {
  background-color: greenyellow;
}

.name-pictures h1 {
  font-size: 30px;
  margin-top: 35px;
  color: black;
  font-style: italic;
  text-transform: uppercase;
}
.image-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.akan-pic {
  padding: 0 20px 20px;
}
img:hover {
  opacity: 0.5;
  transition: 0.9s;
}
.info p {
  align-items: baseline;
  font-size: medium;
}
.info h3 {
  font-size: 35px;
  margin-top: 20px;
  text-transform: uppercase;
}

